.panel-btn{
  margin: 0% 4%;
  transition: 0.5s;
}

.panel-btn:hover{
  font-size: 120%;
  background-color: grey;
  transition: 0.5s;
}

.body-col{
  /*border: 1px solid black;*/
}

.row1{
  margin: 1%;
}

.body-btn{
  margin-top: 1%;
  width: 100%;
}

.body-btn:hover{
  background-color: grey;
  transition: 0.5s;
}

footer{
  transition: 1s;
}

footer:hover{
  background-color: grey;
  transition: 1s;
}
